.menu{
    text-align: center;
    width: 100%;
    background-color: white;
    top: 0;
    
}
 .menu a{
     text-decoration: none;
     color: black;
     display: inline-block;
     width: 100px;
     padding: 20px 40px;
     font-weight: lighter;
 } 
 .menu a:hover{
     background-color:#1B3B68;
     color: white;
 }
.header{
    text-align: center;
    background-color: white;
    color: white;
    padding: 200px 0;
    background-image: url(polygons.png);
    background-repeat: no-repeat;
    background-position: top center;
}
.header a{
    padding: 12px 24px;
    background-color: white;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}
.about img{
width: 400px;
margin: 10px;
margin-top: 0;
float: right;
}
.about{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: justify;
}
.team{
    text-align: center;
}
.member{
    display: inline-block;
    width: 20%;
    min-width: 340px;
    vertical-align: top;
    padding: 20px;
    box-shadow: 0 2px 5px gray;
    text-align: left;
    margin: 20px 10px;
    }
    .member img{
        width: 100%;
    }
.member a{
    text-decoration: none;
    color: white;
    padding: 12px 120px;
    background-color: dodgerblue;
    border-radius: 8px;
    display: inline-block;
}
h3{
font-weight: normal;
}  
.member .position{
    color: gray;
}
.contact{
    margin-bottom: 10px;  
    text-align: center;
    padding: 40px 0;
}
.contact-info{
    text-align: left;
    padding-left: 30px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    margin-left: 5%;
}
.contact-address{
    background-image: url(address.png);

}
.contact-phone{
    background-image: url(phone.png);
}
.contact-mail{
    background-image: url(mail.png);
}
form{
    display: block;
}
.contact input{
    padding: 8px;
    width: 90%;
}
.contact button{
    background-color: black;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    border: none;
}
#prices{
    background-color: #797979;
    text-align: center;
    padding: 50px 0;
}
.tariff{
    display: inline-block;
    width: 30%;
    min-width: 150px;
    background-color: white;
    margin: 10px;
    padding: 0;
    vertical-align: middle;
    
}
.tariff li{
    list-style-type: none;
    border-bottom-width:1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(173, 173, 173);
    padding: 16px 0;
}
.tariff .tariff-name{
    background-color: black;
    font-size: 24px;
    padding: 32px 0;
    color: white;
}
.tariff a{
    text-decoration: none;
    color: white;
    padding: 12px 24px;
    background-color: black;
    border-radius: 8px;
    display: inline-block;
}
.tariff .tariff-best{
    background-color: cadetblue;
    font-size: 24px;
    padding: 32px 0;
    color: white;
}
.important{
    font-weight: bold;
}